body,
html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background: center center no-repeat;
  background-size: cover;
  font-family: sans-serif;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(#000, 0.5);
}

.bubbles {
  position: relative;
}

.bubble {
  position: absolute;
  text-align: center;
  top: 0;
  left: 0;
  margin-top: -50px;
  margin-left: -50px;
  color: #fff;
  text-decoration: none;
}

.bubble__image {
  position: relative;
  width: 100px;
  height: 100px;
  overflow: hidden;
  border-radius: 100px;
  background-position: center center;
  background-size: 120px 120px;
}

.bubble__image::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  border-radius: 100px;
  opacity: 0;
}

.bubble__image:hover::after {
  // animation: blink 0.4s;
}

.bubble__label {
  padding-top: 5px;
  font-weight: bold;
}

@keyframes blink {
  0% { opacity: 0; }
  50% { opacity: 0.1; }
  100% { opacity: 0; }
}

.container {
  width: 740px;
  margin: 0 auto;
  padding-top: 105px;
}

.form {
  position: relative;
  height: 47px;
  margin-bottom: 150px;

  input {
    display: block;
    width: 100%;
    border: none;
    font-size: 18px;
    color: #fff;
    outline: none;
    padding: 13px 0 13px 15px;
    background-color: transparent;
  }

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 1px;
    background-color: rgba(#fff, 0.4);
    animation: grow 0.5s;
    transform-origin: 100% 100%;
  }
}

@keyframes grow {
  0% { transform: scaleX(0); }
  100% { transform: scaleX(1); }
}
